<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Editar Post</title>
    <th:block th:include="layout.html"></th:block>
</head>

<body>

    <div class="container mt-4">
        <h2>Editar Post</h2>

        <form th:action="@{'/editPosts/' + ${post.id}}" method="post">
            <!-- Nombre del libro -->
            <div class="form-group">
                <label for="nombreLibro">Título:</label>
                <input type="text" class="form-control" id="titulo" name="titulo" th:value="${post.titulo}" required>
            </div>

            <!-- Fecha de Publicación -->
            <div class="form-group">
                <label for="fechaPublicacion">Fecha de Publicación:</label>
                <input type="text" class="form-control" id="anoPublicacion" name="fechaPublicacion"
                    th:value="${post.fechaPublicacion}" required placeholder="Ej. 12/01/2023">
            </div>

            <!-- Contenido -->
            <div class="form-group">
                <label for="Contenido">Contenido:</label>
                <input type="text" class="form-control" id="contenido" name="contenido" th:value="${post.contenido}" required>
            </div>

            <!-- Autor (select) -->
            <div class="form-group">
                <label for="categoria">Categoría:</label>
                <select class="form-control" id="categoria" name="categoria" required>
                    <option th:each="categoria : ${categorias}" th:value="${categoria.id}" th:text="${categoria.nombre}"
                        th:selected="${categoria.id == post.categoria.id}"></option>
                </select>
            </div>

            <!--Etiqueta-->
            <div class="form-group">
                <label for="etiqueta">Etiqueta:</label>
                <select class="form-control" id="etiqueta" name="etiquetas" required>
                    <option th:each="etiqueta : ${etiquetas}" th:value="${etiqueta.id}" th:text="${etiqueta.nombre}"
                        th:selected="${etiqueta.id == post.etiquetas.id}"></option>
                </select>
            </div>

            <!-- Botón de enviar -->
            <button type="submit" class="btn btn-primary">Guardar Cambios</button>
        </form>
    </div>

</body>

</html>
