<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Módulo de Comentarios</title>
    <th:block th:include="layout.html"></th:block>
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-primary">
        <a class="navbar-brand" href="#" style="color: white; font-weight: bold;">Tus Mejores Posts</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/" style="color: white;">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/posts" style="color: white;">Posts</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/categorias" style="color: white;">Categorias</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/etiquetas" style="color: white;">Etiquetas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/comentarios" style="color: white;">Comentarios</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container mt-4">

        
        <form action="/findComentarios" method="post">
            <div class="form-group">
                <label for="titulo">Post</label>
                <select name="idPost" class="form-control form-control-sm">
                    <option value="">Selecciona una opción</option>
                    <th:block th:each="post : ${postSelected}">
                        <option th:value="${post.id}" th:text="${post.titulo}" th:selected="${post.id eq idPost}"></option>
                </select>
                <br>
                <button type="submit" class="btn btn-primary">Buscar</button>
            </div>
        </form>

        <!-- Botón para agregar libro -->
        <div class="mb-4">
            <a href="/addComentarios" class="btn btn-success">Agregar Comentario</a>
        </div>
    
        <!-- Tabla de libros -->
        <div>
            <h2>Listado de Comentarios</h2>
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Comentario</th>
                    <th scope="col">Post</th>
                    <th scope="col">Acciones</th>
                </tr>
                </thead>
                <tbody>
                <!-- Iterar sobre la lista de libros proporcionada por Spring -->
                <th:block th:each="comentario : ${comentarios}">
                    <tr>
                        <td th:text="${comentario.cuerpoComentario}"></td>
                        <td th:text="${comentario.posts.titulo}"></td>
                        <td>
                            <a th:href="@{/editComentario/{id}(id=${comentario.id})}" class="btn btn-warning">Editar</a>
                            <a th:href="@{/deleteComentario/{id}(id=${comentario.id})}" class="btn btn-danger">Eliminar</a>
                        </td>
                    </tr>
                </th:block>
                </tbody>
            </table>
        </div>
    
    </div>
</body>

</html>